<p>
<h4> Please configure the due date setting depending on each priority</h4>
<%  @priorities = IssuePriority.active.order('position') %>
<table>
  <tbody>
  <% @priorities.each do |pr| %>
      <tr>
        <td>
          <%= pr.name %>
        </td>
        <td>
          <%= number_field_tag "settings[days_#{pr.id}]", @settings["days_#{pr.id}"] %> day(s)
        </td>
        <td>
          <%= number_field_tag "settings[hours_#{pr.id}]", @settings["hours_#{pr.id}"] %>hour(s)
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

</p>